<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/show/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<label>Name</label><br>
	<input type="text" name="name"><br>
	<label>Email</label><br>
	<input type="email" name="email"><br>
	<label>Mobile</label><br>
	<input type="text" name="mob"><br>
	
	<label>salary</label><br>
	<input type="text" name="salary"><br>
	<label>Address</label><br>
	<textarea rows="5" name="add"></textarea><br><br>
	<input type="submit" name="sub">
</form>
</body>
</html>